@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Finlandica:ital@1&family=Roboto:ital,wght@1,300&family=Rubik&family=Satisfy&display=swap");

.bg-crema{
   background-color: #ffc0909a;
}

.bg-celeste {
    background-color: #d2daff7c;
   

}
.bg-gris{
    background-color:#ffc0909a ;
}

* {
  padding: 0;
  margin: 0;
}
* html {
  font-size: 62.5%;
}
* h1 {
  color: #355764;
  font-size: 4rem;
}
* body {
  background-color: rgba(255, 196, 196, 0.2745098039);
  background-repeat: repeat;
  background-attachment: fixed;
}

* h2 {
  font-size: 3rem;
}
* h3 {
  font-size: 3rem;
}
* h1, * h2, * h3 {
  font-family: "Roboto", sans-serif;
  color: #355764;
}

nav {
  text-align: center;
}
nav .botonera {
  background-color: rgba(255, 192, 144, 0.6039215686);
  padding: 10px 30px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
  height: 100px;
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 30px;
  display: flex;
}
nav li {
  display: flex;
  margin-left: 10px;
}
nav a {
  color: #355764;
  text-decoration: none;
  font-family: "Rubik", sans-serif font-size 2rem;
  display: flex;
  justify-content: center;
}
nav:hover {
  color: black;
  text-decoration: underline;
}

#inicio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0.2rem;
  margin-left: 5px;
}
#inicio h5 {
  font-size: 2rem;
  color: #AC7088;
  padding: 10px;
  align-items: center;
}
#inicio .contenido {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(227, 252, 250, 0.5215686275);
}
#inicio h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(255, 192, 144, 0.6039215686);
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
}
#inicio h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(255, 192, 144, 0.6039215686);
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
}
#inicio #consulta h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(255, 192, 144, 0.6039215686);
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
}
#inicio label {
  font-size: 2rem;
}

p {
  font-size: 1, 5;
}

footer .contactanos {
  text-align: center;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .contactanos__icono--sm {
  width: 35px;
}

#productos h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: #355764;
  margin: 10px 10px;
}
#productos h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: #355764;
  margin: 10px 10px;
}
#productos .lenceria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}
#productos .card {
  margin: 10px;
}
#productos h4 {
  font-size: 2rem;
  color: #355764;
  background-color: rgba(210, 218, 255, 0.4862745098);
  padding: 5px;
}
#productos p {
  font-size: 1.5rem;
  padding-bottom: 5px 0;
}
#productos .nuestra {
  width: auto;
  margin: 20px 30px;
  padding: 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#productos h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
}
#productos .video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactanos {
  width: auto;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.contactanos .dudas {
  margin: 10px;
}
.contactanos h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: "Roboto", sans-serif;
}
.contactanos .formulario {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: rgba(255, 192, 144, 0.6039215686);
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.contactanos label {
  font-size: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.talles h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: #355764;
  margin: 10px 10px;
}
.talles h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
}
.talles h3 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.talles img {
  height: 60%;
  width: 60%;
  border-radius: 5px;
}
.talles p {
  margin: 10px;
  padding: 5px;
}
.talles .portada__titulo {
  background-image: url(../img/Colourful\ Gradient\ Mesh\ Be\ Yourself\ Motivational\ Quote\ Desktop\ Wallpaper.png);
  margin: 10px;
  font-family: "Dancing Script", cursive;
  padding: 90px 80px;
  font-size: 10rem;
  text-align: center;
  color: #355764;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(247, 166, 108, 0.768627451);
  font-family: "Roboto", sans-serif;
  margin: 10px 10px;
}/*# sourceMappingURL=main.css.map */