.contactanos {
    width: auto;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
                                     .dudas{
                                        margin: 10px;}
                                        h1 {
                                        text-transform: uppercase;
                                        font-size: 3rem;
                                        text-align: center;
                                        padding: 10px 10px;
                                        background-color: #f7a66cc4;
                                        font-family: 'Roboto', sans-serif;
                                                                          }
                                                                          .formulario {
                                                                            display: flex;
                                                                            justify-content: center;
                                                                            align-content: center;
                                                                            flex-direction: column;
                                                                            background-color: #ffc0909a;
                                                                            font-family: 'Roboto', sans-serif;
                                                                            margin: 10px;}
                                                                            label {
                                                                            font-size: 2rem;
                                                                            margin-left: 5px;
                                                                            margin-right: 5px; }
       
}

.talles{
    h1 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 10px 10px;
    background-color: $nueveColor;
    font-family: $unoColor;
    margin: 10px 10px;}
    h2 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 10px 10px;
    background-color: $nueveColor;
    font-family: $unoFont;
    margin: 10px 10px;}
    h3 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    background-color: $nueveColor;
    font-family: $unoFont;
    margin: 10px;}
    img {
    height: 60%;
    width: 60%;
    border-radius: 5px;}
    p {
        margin: 10px;
        padding: 5px;}

}

.envios {
    margin: 10px;
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        padding: 10px 10px;
        background-color: $nueveColor;
        font-family: $unoColor;
        margin: 10px 10px;}
        p {
            font-size: 2rem;
             margin: 10px;}
                           .ubicacion {
                            width: auto;
                            margin: 30px auto;
                            padding: 1px 3px;}
                            h2 {
                                text-transform: uppercase;
                                font-size: 3rem;
                                text-align: center;
                                padding: 10px 10px;
                                background-color: $nueveColor;
                                font-family: $unoColor;
                                margin: 10px 10px; }
                            .mapa {
                                    display: flex;
                                    justify-content: center;
                                    margin: 10px;
                                }
}

