footer {
    .contactanos {
                 text-align: center;
                 padding: 6px 20px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: row
    }
    .contactanos__icono--sm {
        width: 35px;
    }
    .contactanos__icono--md {
        font-size: 2rem;
    }
}

