#inicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center; 
    margin:.2rem;
    margin-left: 5px;
    h5{
        font-size: 2rem;
        color: #AC7088;
        padding: 10px;
        align-items: center;
    }

    .contenido {
        text-align: center;
        font-family: $unoFont;
        margin: 10px 10px;
        display: flex;
        justify-content: space-between;
        background-color: #e3fcfa85;
     }

    h1 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        padding: 10px 10px;
        background-color: $seisColor;
        font-family: $unoFont;
        margin: 10px 10px; }

            
    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        padding: 10px 10px;
        background-color: $seisColor;
        font-family: $unoFont;
        margin: 10px 10px; }
                            #consulta h2 {
                                         text-transform: uppercase;
                                         font-size: 3rem;
                                         text-align: center;
                                         padding: 10px 10px;
                                         background-color: $seisColor;
                                         font-family: $unoFont;
                                         margin: 10px 10px; }
                                         label {
                                                font-size: 2rem; }
                                                             
                                                                    
                                             
                                    
   
    

    
}





 p  {
 font-size: 1,5;
}
