#inicio {
    display: flex;
    background-color: $ochoColor;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center; 
    margin:.2rem;
    margin-left: 5px;
    p  {
        font-size: 1,5;
       }
    h4{
    font-size: 2rem;
    color: $diezColor;
    padding: 10px;
    align-items: center;;
    }
    .card {
     margin: 20px;
     display: flex;
     justify-content: space-between;
    }
           .carrusel {
            display: flex !important;
            justify-content: center !important;
            align-content: center;
            }                     
                    .contenido {
                     text-align: center;
                    font-family: $unoFont;
                    margin: 10px 10px;
                    }
                    h1 {
                        text-transform: uppercase;
                        font-size: 3rem;
                        text-align: center;
                        padding: 10px 10px;
                        background-color: $seisColor;
                        font-family: $unoFont;
                        margin: 10px 10px;
                        }
                        h2 {
                        text-transform: uppercase;
                        font-size: 3rem;
                        text-align: center;
                        padding: 10px 10px;
                        background-color: $seisColor;
                        font-family: $unoFont;
                        margin: 10px 10px;
                        }
                            #consulta { 
                             h2{
                                text-transform: uppercase;
                                font-size: 3rem;
                                text-align: center;
                                padding: 10px 10px;
                                background-color: $seisColor;
                                font-family: $unoFont;
                                margin: 10px 10px;    
                                } 
                                label {
                                    font-size: 2rem; }    
                            }             h1 {
                                text-transform: uppercase;
                                font-size: 3rem;
                                text-align: center;
                                padding: 10px 10px;
                                background-color: $seisColor;
                                font-family: $unoFont;
                                margin: 10px 10px;
                                }
                                h2 {
                                text-transform: uppercase;
                                font-size: 3rem;
                                text-align: center;
                                padding: 10px 10px;
                                background-color: $seisColor;
                                font-family: $unoFont;
                                margin: 10px 10px;
                                }
                                    #consulta { 
                                     h2{
                                        text-transform: uppercase;
                                        font-size: 3rem;
                                        text-align: center;
                                        padding: 10px 10px;
                                        background-color: $seisColor;
                                        font-family: $unoFont;
                                        margin: 10px 10px;    
                                        } 
                                        label {
                                            font-size: 2rem; }    
                                    }            
                          
                                                                             
                  
}
